<style>

.p-ab{
    text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}

.r-way{
    font-family: 'Raleway', sans-serif; 
}
 
        a{
            text-decoration: none;
            
            
        }
       .navbar li a{
            color: white;
            opacity: .7;
           font-size: 15px;
        }
       .navbar a:hover{
            color: white;
            opacity: 1;
        }
.parallax {
    /* The image used */
    background-image: url("image/bg-image.png");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
         
 
.r-way{
    font-family: 'Raleway', sans-serif; 
    color: white;
    font-size: 28px;
    
}
.text-r{
    float: right;
}
</style>
