<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.parallax {
    /* The image used */
    background-image: url("image/bg-image.png");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p-ab{
    text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}

.r-way{
    font-family: 'Raleway', sans-serif; 
}
</style>
